.App {
  min-height: 100vh;
  background-color: rgb(243, 234, 102);
  border: 8px solid rgb(243, 239, 6);
  border-radius: 5px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  font-size: medium;
  margin: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-button {
  background-color: white;
  color: black;
  font-size: 20px;
  border: none;
  outline: none;
  font-style: normal;
  border-radius: 15px;
  padding: 0 7px;
  text-transform: capitalize;
}

.search-button:hover {
  background-color: white;
  color: rgb(236, 226, 76);
}

.recipe {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: none;
  font-size: medium;
  color: black;
  width: 45%;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
}

.images {
  border: 2px solid rgb(236, 226, 76);
  border-radius: 200px;
  width: 30%;
  margin: auto;
  margin-bottom: 2px;
}

.title {
  border: 2px double rgb(236, 226, 76);
  border-radius: 50px;
  padding: 5px;
  margin: 12px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.ingredients {
  font-size: 16px;
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 650px) {
  .recipe {
    width: 80%;
  }
}
